<p id="notice"><%= notice %></p>

<p>
  <strong>名前</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>性別</strong>
  <%= @user_profile.sex %>
</p>

<p>
  <strong>誕生日</strong>
  <%= @user_profile.birthday %>
</p>

<p>
  <strong>お住いの都道府県</strong>
  <%= @user_profile.address %>
</p>

<p>
  <strong>自己紹介</strong>
  <%= @user_profile.introduce %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
